[[plugins]]
repo = 'Shougo/denite.nvim'
depends =[
  'neomru.vim'
]
hook_add = '''
nnoremap <silent> :uf :<C-u>Denite -buffer-name=files -mode=normal -direction=dynamictop file<CR>
nnoremap <silent> :ur :<C-u>Denite -buffer-name=files -mode=insert -direction=dynamictop -highlight-mode-insert=Search file_rec<CR>
nnoremap <silent> :ug :<C-u>Denite -buffer-name=files -mode=insert -direction=dynamictop -highlight-mode-insert=Search grep<CR>
nnoremap <silent> :gg :<C-u>DeniteCursorWord -buffer-name=files -mode=insert -direction=dynamictop -highlight-mode-insert=Search grep<CR>
nnoremap <silent> :ub :<C-u>Denite -buffer-name=files buffer -mode=normal -direction=dynamictop buffer<CR>
nnoremap <silent> :uo :<C-u>Denite -buffer-name=files buffer -mode=normal -direction=dynamictop outline<CR>
nnoremap <silent> :ua :<C-u>Denite -buffer-name=files buffer -mode=normal -direction=dynamictop file_mru file<CR>
'''

hook_post_source = '''
call denite#custom#var('grep', 'command', ['git', 'grep'])
call denite#custom#var('grep', 'recursive_opts', [])
call denite#custom#var('grep', 'final_opts', [])
call denite#custom#var('grep', 'separator', [])
call denite#custom#var('grep', 'default_opts', [])
call denite#custom#map('insert', '<C-j>', '<denite:move_to_next_line>', 'noremap')
call denite#custom#map('insert', '<C-n>', '<denite:move_to_next_line>', 'noremap')
call denite#custom#map('insert', '<C-k>', '<denite:move_to_previous_line>', 'noremap')
call denite#custom#map('insert', '<C-p>', '<denite:move_to_previous_line>', 'noremap')
call denite#custom#map('insert', '<C-q>', '<denite:quit>', 'noremap')
'''

[[plugins]]
repo = 'Shougo/deoplete.nvim'
hook_add = '''
let g:deoplete#enable_at_startup = 1
'''

[[plugins]]
repo = 'Shougo/deol.nvim'
hook_add = '''
nnoremap <silent> :ut :<C-u>Deol -split <CR>
tnoremap <silent> :ut <C-\><C-n>:q<CR>
autocmd FileType help nnoremap <buffer> q <C-w>c
'''

[[plugins]]
repo = 'Shougo/neomru.vim'
